@charset "utf-8";
/* CSS Document */
@media only screen and (max-width: 640px){
    .input_error {
		line-height: 9.25vw;
		padding: 0;
		font-size: 3.3vw;
	}
	#loginform input[type=text], input[type=number], input[type=password] {
		line-height: 11.11vw;
		height: 11.11vw;
		background-color: #f2f2f2;
		-moz-border-radius: 1vw;
		-webkit-border-radius: 1vw;
		border-radius: 1vw;
		padding: 0 3vw;
		min-width: 0;
		width: 100%;
		font-size: 3.7vw;
		background-color: #f2f2f2;
	}
}
@media only screen and (max-width: 800px) and (min-width: 640px){
	#loginform input[type=text], input[type=number], input[type=password] {
		line-height: 3.125vw;
		height: 3.125vw;
		border-radius: 0.39063vw;
		padding: 0 0.78125vw;
		min-width: 19.53125vw;
		background-color: #f2f2f2;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px #d4d4d4 solid;
		-moz-box-shadow: 0 0 0 transparent;
		-webkit-box-shadow: 0 0 0 transparent;
		box-shadow: 0 0 0 transparent;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 800px){
	.input_error {
		line-height: 3.125vw;
		padding: 0 0.78125vw;
		font-size: 1.25vw;
	}
	input[type=text], input[type=number], input[type=password] {
		line-height: 40px;
		height: 40px;
		-moz-border-radius: 0.39063vw;
		-webkit-border-radius: 0.39063vw;
		border-radius: 0.39063vw;
		padding: 0 0.78125vw;
		min-width: 19.53125vw;
		background-color: #f2f2f2;
	}
}
@media only screen and (max-width: 9999999px) and (min-width: 1280px){
	.input_error {
		line-height: 40px;
		padding: 0 10px;
		font-size: 16px;
	}
	#loginform input[type=text], input[type=number], input[type=password] {
		line-height: 40px;
		height: 40px;
		border-radius: 5px;
		padding: 0 10px;
		min-width: 250px;
		background-color: #f2f2f2;
	}
}
.input_error {
	color: #e7627e !important;
	background: url(/assets/images/icon/exclamation.svg) no-repeat left center;
    /*background-repeat:;
    background-position: center center;
    vertical-align: top;*/
    -moz-background-size: auto 60%;
    -o-background-size: auto 60%;
    -webkit-background-size: auto 60%;
    background-size: auto 60%;
	padding:0 0 0 30px;
}
#loginform input[type=text], input[type=number], input[type=password] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px #d4d4d4 solid;
    -moz-box-shadow: 0 0 0 transparent;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
}